table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  