<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        body {
            margin: 0;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        #container {
            display: flex;
            flex-direction: column;
        }

        .section {
            flex-grow: 1;
            box-sizing: border-box;
            margin:30;
            margin-bottom: 10px;
            padding: 40px;
            min-height: 100vh;
        }
    </style>
    <title>{{ page.title | default: site.title | default: "Title" }}</title>
    {% seo %}
    {% include head-custom.html %}
</head>

<body>
    <div id="container">
        <div class="inner">
            <div class="section" style="background-color: #e4e4e4;">
                <div class="content" id="section1">
                    {{ page.section1_content | markdownify }}
                </div>
            </div>
            <div class="section" style="background-color: #ffffff;">
                <div class="content" id="section2">
                    {{ page.section2_content | markdownify }}
                </div>
            </div>
            <div class="section" style="background-color: #b6b3afd8;">
                <div class="content" id="section3">
                    {{ page.section3_content | markdownify }}
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=obCFKz4_TLQLi4zm" title="YouTube video player" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="section" style="background-color: #e4e1dd;">
                <div class="content" id="section4" style="text-align: center;">
                    {{ page.section4_content | markdownify }}
            
                    {% if site.show_downloads and page.show_downloads != false %}
                        <div style="display: inline-block;">
                            <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download</span></a>
                        </div>
                    {% endif %}
                </div>
            </div>                      
            <section id="main_content">
                {{ content }}
            </section>
        </div>
    </div>
    <script>
        document.getElementById('section1').style.height = '{{ page.section1_content | number_of_lines | times: 20 }}px';
        document.getElementById('section2').style.height = '{{ page.section2_content | number_of_lines | times: 20 }}px';
        document.getElementById('section3').style.height = '{{ page.section3_content | number_of_lines | times: 20 }}px';
        document.getElementById('section4').style.height = '{{ page.section4_content | number_of_lines | times: 20 }}px';
    </script>
</body>
</html>
